<div class="row">
  <div class="col-xs-12">
    <h2>Pronostico por ciudad</h2>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button"
              class="btn btn-primary dropdown-toggle">
              Administracion de Ciudades <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Lista de ciudades </a></li>
        <li><a href="#">Editar Ciudades </a></li>
        <li><a href="#">eliminar ciudad </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Descripcion
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Clima
  </div>
</div>
